<head>
    <link href="sytlesheets/posts.css" rel="stylesheet">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>
<script src="/path/to/masonry.pkgd.min.js"></script>
<script>
    function irEditar(id){
        const iE = document.getElementById('formoculto'+id);
        iE.submit();
    }
</script>
<div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
    {{#each posts}}
    <form action="http://localhost:8080/editarImagen" method="POST" id="formoculto{{this.id}}">
        <input type="hidden" id="var1" name="userId" value="{{this.userId}}"/>
        <input type="hidden" id="var2" name="postID" value="{{this.id}}"/>
        <div class="grid-item" onclick="irEditar({{this.id}})">
            <p class="desc">{{this.Descripcion}}</p>
            <img src="http://localhost:8080/photo/{{this.id}}" alt="your image" class="imagenPost"/>
        </div>
    </form>
    {{/each}}
</div>
<style>
    .btnDLike {
        background: url("icons/heartSelected.png");
        background-size: cover;
        font-size: 0;
        border: 0;
        display: block;
        height: 34px;
        width: 34px;
    }
    .btnDLike:hover{
        background: url("icons/heart.png");
        background-size: cover;
        font-size: 0;
        border: 0;
        display: block;
        height: 34px;
        width: 34px;
    }
    .btnLike {
        background: url("icons/heart.png");
        background-size: cover;
        font-size: 0;
        border: 0;
        display: block;
        height: 34px;
        width: 34px;
    }
    .btnLike:hover{
        background: url("icons/heartSelected.png");
        background-size: cover;
        font-size: 0;
        border: 0;
        display: block;
        height: 34px;
        width: 34px;
    }
</style>

